@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
/* font-family: 'Lato', sans-serif; */

body {
  font-family: 'Lato', sans-serif;
}


.wrapper {}

.header {
  height: 100vh;
}

.header__body {
  height: 100%;
  background: url('img/header_bg.jpg') 50% 0/cover no-repeat fixed;
  position: relative;
}

.header__nav {
  max-width: 640px;
  margin: 0 auto;
  position: relative;
}

.nav__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 0 20px;

}

.nav__item {}


.nav__item li:first-child {
  margin-left: 20px;
}


.nav__link {
  font-size: 13px;
  font-family: "Lato";
  color: rgb(77, 73, 89);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 700;

}

.nav__link:hover {
  border-bottom: 1px solid #000;
}

.nav__logo {}

@media (max-width: 768px) {
  .nav__logo {
    height: 70px;
    width: 70px;
  }
  .nav__logo img {
    width: 100%
  }
}

.nav__burger {
  display: none;
}


@media (max-width:  425px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    background: url('img/header_bg.jpg') 45% 0/cover no-repeat;
  }

  .header__nav {
    margin: 0;
    width: 100%
  }

  .nav__burger {
    display: block;
    position: fixed;
    height: 30px;
    width: 40px;
    top: 20px;
    /* margin: 0 20px 0 auto; */
    right: 20px;
  }
  .nav__burger:before,
  .nav__burger:after,
  .nav__burger span {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000;
    transition-duration: 0.5s;
  }
  .nav__burger:before {
    top: 0;
  }
  .nav__burger:after {
    bottom: 0
  }
  .nav__burger span {
    top: 50%;
  }

  .nav__body {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F2F5FA;
    transition-duration: 0.5s;
  }

  .nav__item {
    margin-top: 20px;
  }

  .nav__link {
    font-size: 16px;
  }
  .nav__link:hover {
    border-bottom: none;
  }

  .nav__logo {
    position: fixed;
    margin: 0;
    top: 10px;
    left: 20px;
    height: 50px;
    width: 50px;
  }

  .nav__body.active {
    top: 0;
    transition-duration: 0.5s;
  }

  .nav__burger.active:before {
    transition-duration: 0.5s;
    transform: rotate(-45deg);
    top: 14px;
  }
  .nav__burger.active:after {
    transition-duration: 0.5s;
    transform: rotate(45deg);
    bottom: 14px;
  }
  .nav__burger.active span {
    display: none
  }
}


.content {}

.about-us {
  max-width: 1100px;
  margin: 110px auto 140px auto;
}

.about-us__body {
  padding: 0 10px;
}

.about-us__image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us__title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  font-family: "Lato";
  color: rgb(53, 55, 56);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.about-us__subtitle {
  font-size: 18px;
  font-family: "Lato";
  color: rgb(132, 135, 137);
  line-height: 1.889;
  text-align: center;
}

@media (max-width: 768px) {
  .about-us {
    margin: 55px auto 70px auto;
  }
  .about-us__body {
    padding: 0 20px;
  }
  .about-us__title {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width:  425px) {
  .about-us {
    margin: 40px auto 40px auto;
  }
  .about-us__title {
    font-size: 18px;
  }
}



.work {}

.work__body {
  display: block;
}

.work__item {
  height: 700px;
  display: flex;
  position: relative;
}

.item__bg {
  height: 100%;
  display: flex;
  min-width: 50%;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
}


.item__bg_sm {
  /*max-width: 530px;*/
  width: 30%;
  height: 100%;
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
}

.item__content {
  /*max-width: 530px;*/
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  height: 100%;
  /*position: relative;*/
}

.item__content_sm {
  width: 30%;
  flex: 0 0 auto;
  height: 100%;
}

.item__image {
  margin-top: 30px;
  margin-bottom: 25px;
}

.item__title {
  font-size: 18px;
  font-family: "Lato";
  color: rgb(53, 55, 56);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
}

.item__subtitle {
  font-size: 18px;
  font-family: "Lato";
  color: rgb(132, 135, 137);
  line-height: 1.875;
  text-align: justifyLeft;
  max-width: 400px;
  margin: 0 auto;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.item__subtitle_sm {
  padding: 0 20px;
}

.item__subtitle span {
  margin-top: 20px;
  /*margin-bottom: 40px;*/
  height: 2px;
  width: 50px;
  background: #D7D7D7;
}

.item__preview {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}


.item__preview img {
  width: 100%;
  position: relative;
  z-index: 1;
  display: block;
}

.item__preview:after {
  content: '';
  border: 20px solid transparent; border-top: 20px solid white;
  position: absolute;
  top: 0;
  z-index: 2;
}

.bg_1 {
  background: url('img/bg1.jpg') 50% 0/cover no-repeat;
}

.bg_2 {
  background: url('img/bg2.jpg') 50% 0/cover no-repeat;
}

.bg_3 {
  background: url('img/bg3.jpg') 50% 0/cover no-repeat;
}

.bg_4 {
  background: url('img/bg4.jpg') 50% 0/cover no-repeat;
}


@media (max-width: 768px) {
  .work__item {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .item__bg {
    height: 530px;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 1;
  }

  .item__bg_sm {
    width: 100%;
    height: 530px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .item__content {
    width: 100%;
    height: 530px;
    display: block;
    margin: 0;
    max-width: 530px;
    margin: 30px auto;
    order: 2;
  }

  .item__content_sm {
    height: 100%;
    margin-bottom: 0px;
  }

  .item__image {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }

  .item__subtitle {
    max-width: 100%;
    flex: none;
    margin: 0;
    margin-bottom: 20px;
  }
  .item__preview {
    width: 100%;
  }

  .bg_4 {
    display: none
  }
}

@media (max-width:  425px) {
  .item__content {
    padding: 0 20px;
    margin-bottom: 20px;
    height: auto;
  }
  .item__bg {
    height: 400px;
  }

  .item__bg_sm {
    height: 400px;
  }

  .item__preview:after {
    border: 15px solid transparent; border-top: 15px solid white;
  }
}


.twitter {}

.twitter__body {
  max-width: 1030px;
  margin: 120px auto 60px auto;
}

.twitter__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.twitter__tabs {}

.twitter__tab {
  display: none;
}

/*.twitter__tab.active_tab {
  display: block;
}*/

.tab__title {
  font-size: 18px;
  font-family: "Lato";
  color: rgb(53, 55, 56);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;
}

.tab__title span {
  font-size: 15px;
  color: rgb(132, 135, 137);
  font-weight: 500;
  letter-spacing: 5px;
}

.tab__subtitle {
  font-size: 24px;
  font-family: "Lato";
  color: rgb(132, 135, 137);
  font-style: italic;
  line-height: 1.417;
  text-align: center;
}

.tabs__actions {
  max-width: 70px;
  margin: 100px auto 0 auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.actions__item {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid #A9AFB3;
  margin-right: 5px;
}

.actions__item.active_tab {
  background: #A9AFB3;
}


@media (max-width: 768px) {
  .twitter__body {
    margin: 60px auto 30px auto;
  }
  .tab__subtitle {
    font-size: 18px;
    padding: 0 20px;
  }
  .tabs__actions {
    margin-top: 30px;
  }
}

@media (max-width:  425px) {
  .twitter__body {
    margin: 30px auto 30px auto;
  }
}
